*
{
  margin=0;
  padding = 0;
}

header {
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('diabetic.jpg');
        height:100vh;
        background-size:cover;
        background-position:center;
}

.nav-menu{
            float:right;
            list-style:none;
            margin-top:40px;


}

.nav-menu li{
          display:inline-block;  

}

.nav-menu li a{
       color:white;
       text-decoration:Underline;
       padding:10px 15px;
       font-family: "Arial";
       font-size: 25px

}


.home-btn{
       border:1px white;
       background-color:grey;
}


.nav-menu li a:hover{
            border:1px white;
            background-color:grey;
}


.tagline{
        position:absolute;
        width:1000px;
        margin-left:500px;
        
        
}

h1{
    color:white;
    font-size:25px;
    font-family:'Arial';
    
}

h2{
   padding: 100px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-size: 28px;
  margin-top:10px;
  
}


.table-content{
  display: flex; 
}


.Column-1{
  display: flex;
  flex-direction: column-reverse;
  margin-right: auto;
  margin-left:auto;
  width:30%
}

.Column-2{
  display: flex;
  flex-direction: column-reverse;
  margin-right: auto;
  margin-left:auto;
  width:30%
  
 
}





.btn {
  background-color: #498edd; 
  display:flex;
  color: white;
  padding: 15px 20px;
  margin-right: auto;
  margin-left:auto;
  cursor: pointer;
  align-items:center;
  margin-top:15px;
}



 








