<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link href="C:\Users\harsh\Desktop\project\CLASSIFICATION\model_deployment\static\style_about.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class = "topav">
        <a>About</a>
        </div>
        <div class = 'para'>
        <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high.
         Blood glucose is your main source of energy and comes from the food you eat.
         Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. 
         Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well.
         Glucose then stays in your blood and doesn’t reach your cells.
        </p>
        <p>-----------------------------------------------------------------------------</p>
        
        <p><b>What are the different types of diabetes?</p></b>
        <p><b>Type 1 diabetes</p></b>
        
        <p>If you have type 1 diabetes, your body does not make insulin. 
        Your immune system attacks and destroys the cells in your pancreas that make insulin.
        Type 1 diabetes is usually diagnosed in children and young adults, although it can appear at any age.
        People with type 1 diabetes need to take insulin every day to stay alive.
        </p>

        <p><b>Type 2 diabetes</p></b>
        
        <p>If you have type 2 diabetes, your body does not make or use insulin well.
         You can develop type 2 diabetes at any age, even during childhood. 
         However, this type of diabetes occurs most often in middle-aged and older people. 
         Type 2 is the most common type of diabetes.
         </p>
        <p><b>Gestational diabetes</p></b>
        
        <p>Gestational diabetes develops in some women when they are pregnant.
         Most of the time, this type of diabetes goes away after the baby is born.
         However, if you’ve had gestational diabetes, you have a greater chance of developing type 2 diabetes later in life. 
         Sometimes diabetes diagnosed during pregnancy is actually type 2 diabetes.
         </p>
        <p>----------------------------------------------------------------------------</p>
        
        
        <p><b>How common is diabetes?</p></b>
        <p>You are more likely to develop type 2 diabetes if you are age 45 or older, 
        have a family history of diabetes, or are overweight. Physical inactivity, race, 
        and certain health problems such as high blood pressure also affect your chance of developing type 2 diabetes. 
        You are also more likely to develop type 2 diabetes if you have prediabetes or had gestational diabetes when you were pregnant.
        Learn more about risk factors for type 2 diabetes.
        </p>
        
        <p>---------------------------------------------------------------------------</p>
        <p><b>What health problems can people with diabetes develop?</p></b>
        <p>Over time, high blood glucose leads to problems such as</p>

        <p>1)-heart disease</p>
        <p>2)-stroke</p>
        <p>3)-kidney disease</p>
        <p>4)-eye problems</p>
        <p>5)-dental disease</p>
        <p>6)-nerve damage</p>
        <p>7)-foot problems</p>
        
        <div class = 'End'>
        <p><b>--------------------**********END**********--------------------</b></p>


</html>
